/* global */

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.woff') format('woff');
    src: local('Roboto'), local('Roboto-Regular'),
        url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Regular.woff') format('woff'),
        url('Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Medium.woff') format('woff');
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Medium.woff') format('woff'),
        url('Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Bold.woff') format('woff');
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Bold.woff') format('woff'),
        url('Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
    font-weight: normal;
    color: #ffffff;
    background-image: linear-gradient(to right top, #060606, #050504, #030303, #020201, #000000);

}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input {
    outline: none;
    border: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

.container {
    width: 130rem;
    margin: 0 auto;
}

.button {
    border-radius: 5rem;
    padding: 1rem 3rem;
    color: #ffffff;
}

:root {
    --text-size-light: 1.4rem;
    --text-size-medium: 1.6rem;
    --text-size-small: 2.4rem;
    --text-size-middle: 3.6rem;
    --text-size-header: 4.8rem;
    --text-size-header-big: 6.4rem;
}

.block__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* header */

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 4rem 12rem 4rem 8rem;
    z-index: 10;
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    align-items: center;

}

.header__logo {
    display: block;
    width: 4rem;
    height: 4rem;
}

.header__nav a:not(:last-child) {
    margin: 0 7.1rem 0 0;
}

.header__nav a {
    font-size: var(--text-size-medium);
    font-weight: 400;
    line-height: 150%;
}

.header__button {
    margin: 0 0 0 55.3rem;
    background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
    font-size: var(--text-size-medium);
    font-weight: 400;
    line-height: 150%;
}

/* main */

.main-display {
    padding: 27rem 0 0 0;
}


.main-display .container {
    position: relative;
    z-index: 10;
    padding: 0 0 22.8rem 0;
}

.main-display__header {
    max-width: 76rem;
    font-size: var(--text-size-header-big);
    font-weight: 700;
    line-height: 140%;
    margin: 0 0 5rem 0;
}

.maim-display__timer {
    display: flex;
    margin: 0 0 7.6rem 0;
}

.timer__item {
    width: 10.2rem;
    height: 11.2rem;
    background-color: #121212;
}

.timer__item:not(:last-child) {
    margin: 0 3rem 0 0;
}

.timer__count {
    font-size: var(--text-size-middle);
    font-weight: 700;
    line-height: 140%;
}

.timer__text {
    font-size: var(--text-size-medium);
    font-weight: 400;
    line-height: 150%;
    opacity: 0.4;
}

.main-display__button {
    font-size: var(--text-size-medium);
    font-weight: 400;
    line-height: 150%;
    background: linear-gradient(141deg, #df5950 0%, #451046 100%);
}

.main-display__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* work */

.work {
    padding: 20rem 0 24.3rem 0;
}

.work__wrap {
    display: flex;
}

.work__img {
    width: 52.5rem;
    height: 49.9rem;
    margin: 0 13.9rem 0 0;
}

.work__text {
    max-width: 63.6rem;
    padding: 6.9rem 0 0 0;
}

.work__header {
    margin: 0 0 4.5rem 0;
    font-size: var(--text-size-header);
    font-weight: 700;
    line-height: 140%;
}

.work__description {
    font-size: var(--text-size-medium);
    font-weight: 400;
    line-height: 160%;
}

/* process */

.process {
    position: relative;
    padding: 0 0 20rem 0;
}

.process .process__img {
    transform: rotate(45deg);
}

.process__title {
    display: flex;
}

.process__img {
    width: 9rem;
    height: 4.5rem;
    margin: 0 2rem 0 0;
}

.process__header {
    font-size: var(--text-size-header);
    font-weight: 700;
    line-height: 140%;
    margin: 0 0 4.9rem 0;
    padding: 1rem 0 0 0;
}

.process__description {
    max-width: 41.1rem;
    font-size: var(--text-size-medium);
    font-weight: 400;
    line-height: 160%;
    opacity: 0.5;
    margin: 0 0 8rem 0;
}

.process__columns {
    display: flex;
}

.process__columns::after {
    content: '';
    display: block;
    width: 130rem;
    height: 0.2rem;
    position: absolute;
    top: 31rem;
    left: 50%;
    transform: translate(-50%, 0);
    background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
}

.process__item {
    max-width: 30.6rem;
}

.process__work {
    font-size: var(--text-size-middle);
    font-weight: 700;
    line-height: 140%;
    margin: 0 0 6.5rem 0;
}

.process__text {
    font-size: var(--text-size-light);
    font-weight: 400;
    line-height: 160%;
    opacity: 0.5;
}

/* command */

.command {
    padding: 0 0 20rem 0;
}

.command__title {
    margin: 0 0 11.9rem 0;
}

.command__header {
    margin: 0;
}

.command__wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 11rem 0 11rem;
}

.command__img {
    width: 19rem;
    height: 19rem;
    margin: 0 0 4rem 0;
    border-radius: 50%;
}

.command__name {
    font-size: var(--text-size-small);
    font-weight: 500;
    line-height: 140%;
    margin: 0 0 1.5rem 0;
}

.command__professional {
    font-size: var(--text-size-medium);
    font-weight: 400;
    line-height: 160%;
    margin: 0 0 3rem 0;
}

.command__link {
    font-size: var(--text-size-medium);
    font-weight: 400;
    line-height: 150%;
    border: 0.1rem solid #ffffff;
}

/* assembly */

.assembly {
    padding: 0 0 24.4rem 0;
}

.assembly__header {
    font-size: var(--text-size-header);
    font-weight: 700;
    line-height: 140%;
    margin: 0 0 3rem 0;
}

.assembly__description {
    font-size: var(--text-size-medium);
    font-weight: 400;
    line-height: 160%;
    margin: 0 0 4.52rem 0;
}

.assembly__button {
    font-size: var(--text-size-medium);
    font-weight: 700;
    line-height: 150%;
    margin: 0 0 5.08rem 0;
    background: linear-gradient(141deg, #df5950 0%, #451046 100%);
}

.assembly__socials {
    display: flex;
}

.assembly__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}

.assembly__item img {
    width: 50%;
    height: 50%;
}

.assembly__item:not(:last-child) {
    margin: 0 3rem 0 0;
}

/* modal */

.modal {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;
    padding: 3rem 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}

.modal__inner {
    position: relative;
    width: 66.3rem;
    padding: 9rem 1rem;
    background: #2c2c2c;
    text-align: center;
}

.modal__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}

.modal__header {
    font-size: var(--text-size-header);
    font-weight: 700;
    line-height: 140%;
    margin: 0 0 1rem 0;
}

.modal__subheader {
    font-size: var(--text-size-medium);
    font-weight: 400;
    line-height: 160%;
    opacity: 0.5;
    margin: 0 0 2.8rem 0;
}

.modal__elements {
    width: 45.4rem;
    margin: 0 auto 3.2rem auto;
}

.modal__item {
    height: 4.4rem;
}

.modal__input {
    width: 100%;
    height: 100%;
    background-color: #a19a9a;
    border-radius: 5rem;
    font-size: var(--text-size-light);
    font-weight: 400;
    line-height: 160%;
    padding: 1rem 1.5rem;

    &::placeholder {
        color: #ffffff;
        opacity: 0.8;
    }
}

.modal__item:not(:last-child) {
    margin: 0 0 1.8rem 0;
}

.noscroll {
    overflow: hidden;
    height: 100%;
}

body.noscroll {
    overflow: hidden;
    padding-right: var(--scrollbar-width, 0px);
}