/* global */

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    font-size: 62.5%;
    font-weight: normal;
    color: #ffffff;
    background-image: linear-gradient(to right top, #060606, #050504, #030303, #020201, #000000);

}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input {
    outline: none;
    border: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

.container {
    width: 130rem;
    margin: 0 auto;
}

.button {
    border-radius: 5rem;
    padding: 1rem 3rem;
    color: #ffffff;
}

/* header */

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 4rem 12rem 4rem 8rem;
    z-index: 10;
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    align-items: center;

}

.header__logo {
    display: block;
    width: 4rem;
    height: 4rem;
}

.header__nav a:not(:last-child) {
    margin: 0 7.1rem 0 0;
}

.header__nav a {
    font-size: 1.6rem;
}

.header__button {
    margin: 0 0 0 55.3rem;
    background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
    font-size: 1.6rem;
}

/* main */

.main-display {
    padding: 27rem 0 0 0;
}


.main-display .container {
    position: relative;
    z-index: 10;
}

.main-display__header {
    max-width: 76rem;
    font-size: 6.4rem;
    margin: 0 0 5rem 0;
}

.timer {}

.maim-display__timer {
    display: flex;
    margin: 0 0 7.6rem 0;
}

.timer__item {
    width: 10.2rem;
    height: 11.2rem;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.timer__item:not(:last-child) {
    margin: 0 3rem 0 0;
}

.timer__count {
    font-size: 3.6rem;
}

.timer__text {
    font-size: 1.6rem;
    opacity: 0.4;
}

.maim-display__button {
    font-size: 1.6rem;
    background: linear-gradient(141deg, #df5950 0%, #451046 100%);
}

.main-display__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}